In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
df = pd.read_csv ('Dados/DADOS/MICRODADOS_ENEM_2022.csv', sep=';', encoding='latin1', decimal=',')

# axis=1 especifica para remover coluna
# inplace=True especifica para remover a coluna do df original 
df.drop('IN_TREINEIRO', axis=1, inplace=True)

#tem que diminuir o indice porque, confome voce apaga uma linha da tabela, ja altera a estrutura toda
indices_para_apagar_CN = df[df['TP_PRESENCA_CN'] == 0].index
indices_para_apagar_CH = df[df['TP_PRESENCA_CH'] == -1].index
indices_para_apagar_LC = df[df['TP_PRESENCA_LC'] == -2].index
indices_para_apagar_MT = df[df['TP_PRESENCA_MT'] == -3].index

df.drop(indices_para_apagar_CN, inplace=True)
df.drop(indices_para_apagar_CH, inplace=True)
df.drop(indices_para_apagar_LC, inplace=True)
df.drop(indices_para_apagar_MT, inplace=True)

valores = df.value_counts('TP_PRESENCA_MT')
print(valores)
df.columns
df.head()

TP_PRESENCA_MT
1    2355395
2       1577
Name: count, dtype: int64

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
2,210057280536,2022,5,F,1,2,1,1,2,1,...,A,A,A,A,A,A,C,A,A,B
3,210055724397,2022,6,M,1,3,1,1,2,1,...,B,A,A,C,A,A,C,B,B,B
7,210055778089,2022,6,F,1,2,1,1,0,1,...,B,A,A,C,A,A,E,A,A,B
9,210055461467,2022,4,F,1,3,1,1,1,1,...,A,A,A,B,A,A,B,A,A,B
11,210054972570,2022,2,F,1,1,1,2,0,3,...,A,A,A,B,A,A,C,A,A,B